.menu {
	width: 100%;
	float: left;
	padding: 0px;

	.col {
		padding: 0px;
	}

	.collection { 
		padding: 0px;
		border: none;
		overflow: visible;
		margin-bottom: 40px;

		.collection-item {
			padding: 0px;
			margin: 0px;
			background: transparent;
			border: none;
			margin-bottom: 5px;

			img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
			}

			.titulo {
				color: #CC3333;
				font-size: 12pt;
				font-weight: bold;
			}

			&:first-child {
				margin-bottom: 15px
			}

			.item {
				color: #999999;
				font-size: 11pt;
				margin-bottom: 5px;
				vertical-align: top;
				line-height: 25px;

				span {
					position: relative;
					top: 5px;
				}

				input {
					width: 80%;
					margin-bottom: 0px;
					border:none;
					padding: 0px;
					height: 2rem;

					border-bottom: 1px solid #f7f8fa;
				}

				input:focus {
					border-bottom: 1px solid #999999;
					box-shadow: none;
				}

				&:-webkit-input-placeholder {
				  color: #999999;
				}
			}
		}
	}
}

.main-content {
	min-height: 500px;
	padding: 20px;

	form {
		.perfil-image {
			overflow: hidden;

			img {
				float: left;

				width: 80px;
				height: 80px !important;

				border: 1px solid @blue-color;
			}

			.select-file {
				float: left;
				margin-top: 25px;
				margin-left: 20px;
			}
		}

		.buttons {
			.right {
				button {
					float: right;
				}
			}
		}
	}

	.doctor {
		.perfil-image {
			img {
				width: 100px;
				height: 100px !important;

				border: 1px solid @blue-color;

				margin-bottom: 20px;
			}
		}

		.name {
			font-size: 24px;
			font-weight: lighter;
		}

		.subname {
			font-size: 18px;
			font-weight: lighter;

			span {
				position: relative;
				top: 5px;
			}
		}

		.map {
			margin-top: 20px;

			#gmap_canvas img {
				max-width: none !important;
				background: none !important
			}
		}

		.address {
			font-size: 12px;
		}

		.opinions {
			font-size: 12px;

			.geral {

			}

			.specific {
				border-left: 1px solid #DDD;

				ul:first-child {
					overflow: hidden;
					margin: 0;

					li {

						span {
							position: relative;
							top: 7px;
						}
					}
				}
			}

			.opinion {
				margin-top: 20px;

				border-bottom: 1px solid #DDD;

				.subname {
					margin-bottom: 5px;
				}
			}
		}

		.thumbs {
			margin-top: 7px;
		}
	}

	.body {
		position: relative;
		min-height: 600px;

		padding-bottom: 50px;

		.human-body {
			background-size: contain;
			background-repeat: no-repeat;

			width: 500px;
			height: 500px;

			position: absolute;

			&.full { background-image: url('../images/body/whiteBody.png'); }

			&.abdomen-red { background-image: url('../images/body/abdomenRed.png'); }
			&.abdomen-gray { background-image: url('../images/body/abdomenGrey.png'); }
			&.abdomen-yellow { background-image: url('../images/body/abdomenYellow.png'); }

			&.leftArm-red { background-image: url('../images/body/armLeftRed.png'); }
			&.leftArm-gray { background-image: url('../images/body/armLeftGrey.png'); }
			&.leftArm-yellow { background-image: url('../images/body/armLeftYellow.png'); }

			&.rightArm-red { background-image: url('../images/body/armRightRed.png'); }
			&.rightArm-gray { background-image: url('../images/body/armRightGrey.png'); }
			&.rightArm-yellow { background-image: url('../images/body/armRightYellow.png'); }

			&.leftElbow-red { background-image: url('../images/body/elbowLeftRed.png'); }
			&.leftElbow-gray { background-image: url('../images/body/elbowLeftGrey.png'); }
			&.leftElbow-yellow { background-image: url('../images/body/elbowLeftYellow.png'); }

			&.rightElbow-red { background-image: url('../images/body/elbowRightRed.png'); }
			&.rightElbow-gray { background-image: url('../images/body/elbowRightGrey.png'); }
			&.rightElbow-yellow { background-image: url('../images/body/elbowRightYellow.png'); }

			&.face-red { background-image: url('../images/body/faceRed.png'); }
			&.face-gray { background-image: url('../images/body/faceGrey.png'); }
			&.face-yellow { background-image: url('../images/body/faceYellow.png'); }

			&.leftFoot-red { background-image: url('../images/body/footLeftRed.png'); }
			&.leftFoot-gray { background-image: url('../images/body/footLeftGrey.png'); }
			&.leftFoot-yellow { background-image: url('../images/body/footLeftYellow.png'); }

			&.rightFoot-red { background-image: url('../images/body/footRightRed.png'); }
			&.rightFoot-gray { background-image: url('../images/body/footRightGrey.png'); }
			&.rightFoot-yellow { background-image: url('../images/body/footRightYellow.png'); }

			&.leftForearm-red { background-image: url('../images/body/forearmLeftRed.png'); }
			&.leftForearm-gray { background-image: url('../images/body/forearmLeftGrey.png'); }
			&.leftForearm-yellow { background-image: url('../images/body/forearmLeftYellow.png'); }

			&.rightForearm-red { background-image: url('../images/body/forearmRightRed.png'); }
			&.rightForearm-gray { background-image: url('../images/body/forearmRightGrey.png'); }
			&.rightForearm-yellow { background-image: url('../images/body/forearmRightYellow.png'); }

			&.leftHand-red { background-image: url('../images/body/handLeftRed.png'); }
			&.leftHand-gray { background-image: url('../images/body/handLeftGrey.png'); }
			&.leftHand-yellow { background-image: url('../images/body/handLeftYellow.png'); }

			&.rightHand-red { background-image: url('../images/body/handRightRed.png'); }
			&.rightHand-gray { background-image: url('../images/body/handRightGrey.png'); }
			&.rightHand-yellow { background-image: url('../images/body/handRightYellow.png'); }

			&.leftKnee-red { background-image: url('../images/body/kneeLeftRed.png'); }
			&.leftKnee-gray { background-image: url('../images/body/kneeLeftGrey.png'); }
			&.leftKnee-yellow { background-image: url('../images/body/kneeLeftYellow.png'); }

			&.rightKnee-red { background-image: url('../images/body/kneeRightRed.png'); }
			&.rightKnee-gray { background-image: url('../images/body/kneeRightGrey.png'); }
			&.rightKnee-yellow { background-image: url('../images/body/kneeRightYellow.png'); }

			&.leftLeg-red { background-image: url('../images/body/legLeftRed.png'); }
			&.leftLeg-gray { background-image: url('../images/body/legLeftGrey.png'); }
			&.leftLeg-yellow { background-image: url('../images/body/legLeftYellow.png'); }

			&.rightLeg-red { background-image: url('../images/body/legRightRed.png'); }
			&.rightLeg-gray { background-image: url('../images/body/legRightGrey.png'); }
			&.rightLeg-yellow { background-image: url('../images/body/legRightYellow.png'); }

			&.loin-red { background-image: url('../images/body/loinRed.png'); }
			&.loin-gray { background-image: url('../images/body/loinGrey.png'); }
			&.loin-yellow { background-image: url('../images/body/loinYellow.png'); }

			&.leftThigh-red { background-image: url('../images/body/thighLeftRed.png'); }
			&.leftThigh-gray { background-image: url('../images/body/thighLeftGrey.png'); }
			&.leftThigh-yellow { background-image: url('../images/body/thighLeftYellow.png'); }

			&.rightThigh-red { background-image: url('../images/body/thighRightRed.png'); }
			&.rightThigh-gray { background-image: url('../images/body/thighRightGrey.png'); }
			&.rightThigh-yellow { background-image: url('../images/body/thighRightYellow.png'); }

			&.thorax-red { background-image: url('../images/body/thoraxRed.png'); }
			&.thorax-gray { background-image: url('../images/body/thoraxGrey.png'); }
			&.thorax-yellow { background-image: url('../images/body/thoraxYellow.png'); }
		}

		.clicks {
			position: absolute;

			div {
				cursor: pointer;
			}

			.head {
				width: 61px;
				height: 77px;

				position: absolute;
				left: 95px;
			}

			.rightArm {
				width: 71px;
				height: 222px;

				position: absolute;
				top: 77px;
			}

			.chest {
				width: 98px;
				height: 75px;

				position: absolute;
				left: 75px;
				top: 77px;
			}

			.stomach {
				width: 98px;
				height: 87px;

				position: absolute;
				left: 75px;
				top: 153px;
			}

			.leftArm {
				width: 71px;
				height: 222px;

				position: absolute;
				left: 178px;
				top: 77px;
			}

			.rightLeg {
				width: 55px;
				height: 257px;

				position: absolute;
				left: 71px;
				top: 240px;
			}

			.leftLeg {
				width: 52px;
				height: 257px;

				position: absolute;
				left: 126px;
				top: 240px;
			}
		}
	}
}

.rate {
	overflow: hidden;

	li {
		float: left;
		color: @blue-color;
	}
}

.modal {
	.title-list {
		font-size: 16px;
		font-weight: bold;
	}
}

.md-avatar {
	width: 50px !important;
	height: 50px !important;
}