<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>
		
		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<div class="doctor">
					<div class="row">
						<div class="col-md-12">
							<h5>Consultas marcadas</h5>
						</div>
					</div>
					<div class="row">
						<md-list flex>
							<md-list-item class="md-3-line" ng-repeat="appointment in appointments" 
										  ng-click="openUser(appointment.patientId)">
								<img ng-src="data:image/png;base64,{{ appointment.user.profileImage }}" class="circle md-avatar">
								<div class="md-list-item-text" layout="column">
									<h3>{{ appointment.user.name }}</h3>
									<h4>{{ appointment.date | date }}</h4>
									<p>{{ appointment.availabilityId.startHour + ' - ' + appointment.availabilityId.endHour }}</p>
								</div>
								<md-icon ng-click="accept(appointment)" aria-label="Send Email" class="md-secondary md-hue-3" >
									<md-tooltip md-direction="top">
										Confirmar marcação
									</md-tooltip>
									<i class="material-icons">done_all</i>
								</md-icon>
								<md-icon class="md-secondary" ng-click="reject(appointment)" aria-label="Chat">
									<md-tooltip md-direction="top">
										Rejeitar marcação
									</md-tooltip>
									<i class="material-icons">cancel</i>
								</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</div>
			</md-card>
		</div>
	</div>
</div>