<md-bottom-sheet class="md-list md-has-header" ng-cloak>
	<md-subheader>Opções</md-subheader>
	<md-list>
		<md-list-item>
			<md-button ng-click="humanBody()" class="md-list-item-content">
				<i class="material-icons md-18">accessibility</i>
				<span class="md-inline-list-icon-label">Corpo humano</span>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="prescription()" class="md-list-item-content">
				<i class="material-icons md-18">add_box</i>
				<span class="md-inline-list-icon-label">Adicionar prescrição</span>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="records()" class="md-list-item-content">
				<i class="material-icons md-18">note_add</i>
				<span class="md-inline-list-icon-label">Adicionar prontuário</span>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="recordsBack()" class="md-list-item-content">
				<i class="material-icons md-18">view_list</i>
				<span class="md-inline-list-icon-label">Ver todos os prontuários</span>
			</md-button>
		</md-list-item>
	</md-list>
</md-bottom-sheet>