<md-dialog aria-label="Adicionar problema" ng-cloak>
	<form name="addForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Adicionar problema</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons">close</i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div class="row">
					<div>
						<div class="row col-md-6 col-sm-12">
							<label>Parte do corpo</label>
							<md-select ng-model="add.part" ng-required="true">
								<md-option ng-repeat="state in partsList" value="{{state.value}}">
									{{state.name}}
								</md-option>
							</md-select>
						</div>
						<div class="row col-md-6 col-sm-12">
							<label>Severidade</label>
							<md-select ng-model="add.severity" ng-required="true">
								<md-option ng-repeat="state in severities" value="{{state.value}}">
									{{state.name}}
								</md-option>
							</md-select>
						</div>
					</div>
					<div class="row col-md-12">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Problema</label>
							<input ng-model="add.problem" ng-required="true">
						</md-input-container>
					</div>
					<div class="row col-md-12">
						<md-input-container class="md-block">
							<label>Descrição</label>
							<textarea ng-model="add.description" ng-required="true" rows="5" md-select-on-focus></textarea>
						</md-input-container>
					</div>
					<div class="row col-md-12">
          				<md-datepicker ng-model="add.occurredDate" ng-required="true" md-placeholder="Selecione a data"></md-datepicker>
          			</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancelar
			</md-button>
			<md-button ng-click="save()" ng-disabled="addForm.$invalid">
				Adicionar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>