<md-dialog aria-label="Adicionar problema" ng-cloak style="min-width:500px">
	<form name="addForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Adicionar problema</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons">close</i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div class="row">
					<div class="col-sm-12">
						<div style="font-family:sans-serif;font-size:20px;">Parte do corpo</div>
						<div style="font-family:sans-serif;font-size:17px;">{{nome}}</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<md-input-container class="md-block">
							<label>Local</label>
							<textarea ng-model="add.local" ng-required="true" rows="5" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-10">
						<label>Severidade</label>
							<p class="range-field">
      							<input type="range" ng-model="add.level" ng-required="true" id="test5" min="0" max="100"/>
    						</p>
			    	</div>
			    		
			    	<div class="col-sm-2" style="text-align: center;">	
			    		<span style="font-size:20px;font-family:sans-serif;color:blue;border:3px solid blue;border-radius: 50px;padding: 2px;">{{add.level}}
			    		</span>

			    		<p ng-show="add.level>60" style="font-weight:bold;color:red;
			    		font-size:12pt;">ALTA</p>

				    	<p ng-show="add.level>30 && add.level<=60" 
				    	style="font-weight:bold;color:#F9CF00;font-size:12pt;">MÉDIA</p>

				    	<p ng-show="add.level<=30" style="font-weight:bold;color:gray;
				    	font-size:12pt;">BAIXA</p>
			    	</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Problema</label>
							<input ng-model="add.problem" ng-required="true">
						</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<md-input-container class="md-block">
							<label>Descrição</label>
							<textarea ng-model="add.description" ng-required="true" rows="2" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
          				<md-datepicker style="" ng-model="add.occurredDate" ng-required="true" md-placeholder="Selecione a data">
          				</md-datepicker>
          			</div>
          			<div class="col-md-5">
          				<md-switch ng-model="add.resolved" aria-label="Resolvido">
							Resolvido
						</md-switch>
          			</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancelar
			</md-button>
			<md-button ng-click="save(add)" ng-disabled="addForm.$invalid">
				Adicionar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>