<md-dialog aria-label="{{ name }}" ng-cloak style="min-width:500px">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{ name }}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons">close</i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div class="row">
					<md-list flex>
						<md-list-item class="md-3-line" ng-repeat="item in prob">
							<div class="md-list-item-text" layout="column">
								<h3>{{ item.problem }}</h3>
								<h4>{{ item.description }}</h4>
								<p>
									<i>
										Data: {{ item.occurredDate | date }}, 
										Severidade: <b>{{ item.severity == "High" ? "Alta" : (item.severity == "Medium" ? "Média" : "Baixa") }}</b>
										<span ng-show="item.resolved">- <b>Resolvido</b></span>
									</i>
								</p>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Fechar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>