<md-dialog aria-label="{{ name }}" ng-cloak style="min-width:500px">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{ name }}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons">close</i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div class="row">
					<md-list flex>
						<md-list-item class="md-3-line" style="border: 1px solid #B2B2B2;
						padding:5px;margin-bottom: 5px;" 
						ng-repeat="item in prob">
							<div class="md-list-item-text" layout="column">
								<label style="font-size:12pt;font-weight:bold;">Local:
									<p>{{item.local}}</p>
								</label>	
								<label style="font-size: 12pt;font-weight:bold;">Problema:
									<p>{{ item.problem }}</p>
								</label>
								<label style="font-size:12pt;font-weight:bold;">Descrição:
									<p>{{ item.description }}</p>
								</label>
								
								<label style="font-size:12pt;font-weight:bold;">
									Data: <p>{{ item.occurredDate | date }}</p>	
								</label>
								
								<label style="font-size:12pt;font-weight:bold;">Severidade: 
									<p>{{ item.severity == "High" ? "Alta" : (item.severity == "Medium" ? "Média" : "Baixa") }}</p>
									<p style="font-size:12pt;color:gray;" ng-show="item.severity=='Low'">Nível: {{item.level}}</p>
									<p style="font-size:12pt;color:yellow;" ng-show="item.severity=='Medium'">Nível: {{item.level}}</p>
									<p style="font-size:12pt;color:red;" ng-show="item.severity=='High'">Nível: {{item.level}}</p>
									
								</label>	
								

								<label style="font-size:12pt;font-weight:bold;">Condição: 
									<p>{{item.resolved == true ? "Resolvido" : "Não Resolvido"}}</p>
								</label>	
								
								<md-dialog-actions layout="row">
								<span flex></span>
									<md-button ng-click="alterar(item)">
										Alterar
									</md-button>
								</md-dialog-actions>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Fechar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>