<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>

		<div class="col s12 m9 l9">
			<div class="card main-content">
				<div class="doctor">
					<div class="opinions">
						<div class="row opinion" ng-repeat="doctor in doctors">
							<div class="col l2 m2 s12 perfil-image">
								<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
							</div>
							<div class="col l8 l8 s12">
								<div class="subname">{{ doctor.name }}</div>
								<div>CRM: <b>{{ doctor.crm }}</b></div>
								<div>Especialidade: <b>{{ doctor.doctorType }}</b></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>