<div class="container">
	<div class="row">
		<div class="col s3">
			<div class="menu">
				<ul class="collection">
					<li class="collection-item"><div class="titulo">PERFIL</div></li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">person</span> Editar Perfil
						</div>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">history</span> Histórico
						</div>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">accessibility</span> Corpo Humano
						</div>
					</li>
				</ul>
				<ul class="collection">
					<li class="collection-item">
						<div class="titulo">MÉDICOS</div>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">search</span>
							<input placeholder="Procurar Médicos" id="first_name" type="text">
						</div>
					</li>
					<li class="collection-item">
						<img src="http://www.unimedjf.coop.br/novosite/Imagens/Site/imagemDestaqueDownloadGuiaMedico.png" class="circle">
						<span class="item">Maria Pereira</span>
					</li>
					<li class="collection-item">
						<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
						<span class="item">Joaquina França</span>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">view_module</span>
							Ver todos
						</div>
					</li>
				</ul>
				<ul class="collection">
					<li class="collection-item">
						<div class="titulo">ARQUIVOS</div>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">folder</span>
							Prescrições
						</div>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">folder_special</span>
							Exames
						</div>
					</li>
					<li class="collection-item">
						<div class="item">
							<span class="material-icons">opacity</span>
							Medicações
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col s9">
			<div class="card main-content">
				<div class="doctor">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">search</i>
							<input id="icon_prefix" type="text" class="validate">
							<label for="icon_prefix">Procurar médicos</label>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row map">
						<div class="col s12">
							<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
							<div style='overflow:hidden;height:662px;width:662px;'>
								<div id='gmap_canvas' style='height:662px;width:662px;'></div>
								<div>
									<small>
										<a href="http://embedgooglemaps.com">embed google map</a>
									</small>
								</div>
								<div>
									<small>
										<a href="http://www.proxysitereviews.com /lime-proxies/">lime proxies</a>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>

<script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(-8.0578381,-34.88289689999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-8.0578381,-34.88289689999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Luiza Santos</strong><br>Recife, PE<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>