<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>

		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<div class="doctor">
					<div class="row">
						<div class="col-md-2 col-xs-12 perfil-image photo">
							<img ng-src="data:image/png;base64,{{ doctor.profileImage }}" class="circle">
						</div>
						<div class="col col-md-5 col-xs-12">
							<div class="name">{{ doctor.name }}</div>
							<div class="subname">CRM: <b>{{ doctor.crm }}</b></div>
						</div>
						<div class="col col-md-5 col-xs-12">
							<div class="subname">Especialidade: <b>{{ doctor.doctorType }}</b></div>
							<div class="subname">Telefone: <b>{{ doctor.phone }}</b></div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row map">
						<div class="col-md-12">
							
						</div>
					</div>
					<div class="row address">
						<div class="col-md-7 col-xs12">
							<div class="subname">
								<span class="material-icons">place</span>
								{{ doctor.addressStreet }}
							</div>
							<div>{{ doctor.city + ', ' + doctor.state }}</div>
						</div>
						<div class="col-md-5 col-xs-12">
							<div><b>Horários: </b> Segunda das 14h as 17h</div>
							<div><b>Atende: </b> Pacientes privados e Amil, Bradesco Saúde, Allianz Saúde, Camed, Cassi, Correios, Embratel, Petrobras, e 1 mais</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row">
						<div class="col-md-12">
							<h5>Opiniões para Luiza Santos</h5>
						</div>
					</div>
					<div class="row opinions">
						<div class="col-md-4 geral">
							<ul class="rate">
								<li><span class="material-icons">star</span></li>
								<li><span class="material-icons">star</span></li>
								<li><span class="material-icons">star</span></li>
								<li><span class="material-icons">star</span></li>
								<li><span class="material-icons">star</span></li>
							</ul>
							Baseado em 5 opiniões
						</div>
						<div class="col-md-6 specific">
							<ul>
								<li>
									<div class="col-md-6">
										<span class="material-icons">access_time</span> 
										Pontualidade
									</div>
									<ul class="rate col-md-6">
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
									</ul>
								</li>
								<li>
									<div class="col-md-6">
										<span class="material-icons">group</span> 
										Atenção
									</div>
									<ul class="rate col-md-6">
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
									</ul>
								</li>
								<li>
									<div class="col-md-6">
										<span class="material-icons">domain</span> 
										Instalações
									</div>
									<ul class="rate col-md-6">
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
										<li><span class="material-icons">star</span></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="divider"></div>
					<div class="opinions">
						<div class="row opinion">
							<div class="col-md-2 col-xs-12 perfil-image photo">
								<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
							</div>
							<div class="col col-md-8 col-xs-12">
								<div class="subname">Maria Eduarda</div>
								<div>"Muito atenciosa, carismática, muito profissional."</div>
								<ul class="rate">
									<li><span class="material-icons">star</span></li>
									<li><span class="material-icons">star</span></li>
									<li><span class="material-icons">star</span></li>
									<li><span class="material-icons">star</span></li>
									<li><span class="material-icons">star</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</md-card>
		</div>
	</div>
</div>