<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>

		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<div class="doctor">
					<div class="row">
						<div class="col-md-12">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Procurar médicos</label>
								<md-icon>
									<i class="material-icons prefix">search</i>
								</md-icon>
								<input ng-model="search" ng-change="find()">
							</md-input-container>
						</div>
					</div>
					<div class="divider"></div>
					<div class="opinions">
						<ul class="collection">
							<li class="collection-item" ng-click="openDoctor(doctor._id)"
								ng-repeat="doctor in doctors">{{ doctor.name }}</li>
						</ul>
						<!--<div class="row opinion" ng-repeat="doctor in doctors">
							<div class="col l2 m2 s12 perfil-image">
								<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
							</div>
							<div class="col l8 l8 s12">
								<div class="subname">{{ doctor.name }}</div>
								<div>CRM: <b>{{ doctor.crm }}</b></div>
								<div>Especialidade: <b>{{ doctor.doctorType }}</b></div>
							</div>
						</div>-->
					</div>
				</div>
			</md-card>
		</div>
	</div>
</div>