<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>

		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<div class="doctor">
					<div class="row">
						<div class="col-md-2 col-xs-12 perfil-image photo">
							<img ng-src="data:image/png;base64,{{ doctor.profileImage }}" class="circle">
						</div>
						<div class="col col-md-5 col-xs-12">
							<div class="name">{{ doctor.name }}</div>
							<div class="subname">CRM: <b>{{ doctor.crm }}</b></div>
						</div>
						<div class="col col-md-5 col-xs-12">
							<div class="subname">Especialidade: <b>{{ doctor.doctorType }}</b></div>
							<div class="subname">Telefone: <b>{{ doctor.phone }}</b></div>
						</div>
					</div>
					<div class="row" ng-show="availability.length > 0">
						<div class="col-sm-3">
							<md-button class="md-raised md-primary" ng-click="appointment()">Marcar consulta</md-button>
						</div>
						<div class="col-sm-3">
							<md-button class="md-raised md-primary" ng-click="follow(doctor)">Seguir</md-button>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row map">
						<div class="col-md-12">
							
						</div>
					</div>
					<div class="row address">
						<div class="col-md-7 col-xs12">
							<div class="subname">
								<span class="material-icons">place</span>
								{{ doctor.addressStreet }}
							</div>
							<div>{{ doctor.city + ', ' + doctor.state }}</div>
						</div>
						<div class="col-md-5 col-xs-12">
							<!--<div><b>Horários: </b> Segunda das 14h as 17h</div>-->
							<div ng-show="healthInsurance.length > 0">
								<b>Atende: </b> 
								<span ng-repeat="h in healthInsurance">
									{{ h.healthInsurance + ($index < healthInsurance.length - 1 ? ',' : '') }}
								</span>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row">
						<div class="col-md-12">
							<h5>Opiniões para Luiza Santos</h5>
						</div>
					</div>
					<div class="row opinions">
						<div class="col-md-4 geral">
							<ul class="rate">
								<li ng-repeat="s in total.general track by $index">
									<span class="material-icons">{{ s }}</span>
								</li>
							</ul>
							Baseado em {{ opinions.length }} opiniões
							<md-button class="md-primary" ng-click="openOpinion()">Avaliar</md-button>
						</div>
						<div class="col-md-6 specific">
							<ul>
								<li>
									<div class="col-md-6">
										<span class="material-icons">access_time</span> 
										Pontualidade
									</div>
									<ul class="rate col-md-6">
										<li ng-repeat="s in total.punctuality track by $index">
											<span class="material-icons">{{ s }}</span>
										</li>
									</ul>
								</li>
								<li>
									<div class="col-md-6">
										<span class="material-icons">group</span> 
										Atenção
									</div>
									<ul class="rate col-md-6">
										<li ng-repeat="s in total.attention track by $index">
											<span class="material-icons">{{ s }}</span>
										</li>
									</ul>
								</li>
								<li>
									<div class="col-md-6">
										<span class="material-icons">domain</span> 
										Instalações
									</div>
									<ul class="rate col-md-6">
										<li ng-repeat="s in total.installation track by $index">
											<span class="material-icons">{{ s }}</span>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="divider"></div>
					<div class="opinions">
						<div class="row opinion" ng-repeat="o in opinions">
							<!--<div class="col-md-2 col-xs-12 perfil-image photo">
								<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
							</div>-->
							<div class="col-md-6 col-xs-12">
								<!--<div class="subname">Maria Eduarda</div>-->
								<div style="height: 100px;">{{ o.comment }}</div>
							</div>
							<div class="col-md-6 col-xs-12 specific">
								<ul>
									<li>
										<div class="col-md-6">
											<span class="material-icons">access_time</span> 
											Pontualidade
										</div>
										<ul class="rate col-md-6">
											<li ng-repeat="s in o.stars.punctuality track by $index">
												<span class="material-icons">{{ s }}</span>
											</li>
										</ul>
									</li>
									<li>
										<div class="col-md-6">
											<span class="material-icons">group</span> 
											Atenção
										</div>
										<ul class="rate col-md-6">
											<li ng-repeat="s in o.stars.attention track by $index">
												<span class="material-icons">{{ s }}</span>
											</li>
										</ul>
									</li>
									<li>
										<div class="col-md-6">
											<span class="material-icons">domain</span> 
											Instalações
										</div>
										<ul class="rate col-md-6">
											<li ng-repeat="s in o.stars.installation track by $index">
												<span class="material-icons">{{ s }}</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</md-card>
		</div>
	</div>
</div>