<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>
		
		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<form>
					<div class="perfil-image photo">
						<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
						<div class="select-file">
							<input type="file">
						</div>
					</div>
					<div class="row col-md-12">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Name</label>
							<input ng-model="user.name">
						</md-input-container>
					</div>
					<div class="row col-md-12">
						<md-input-container class="md-block" flex-gt-sm>
							<label>E-mail</label>
							<input ng-model="user.email">
						</md-input-container>
					</div>
					<div class="row">
						<div class="col-md-6">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Senha</label>
								<input ng-model="user.password" type="password">
							</md-input-container>
						</div>

						<div class="col-md-6">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Confirmar Senha</label>
								<input ng-model="user.rePassword" type="password">
							</md-input-container>
						</div>

						<div class="col-md-12"><small>Deixe os campos em branco caso não deseje alterar a senha</small></div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-8">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Endereço</label>
								<input ng-model="user.addressStreet">
							</md-input-container>
						</div>
						<div class="col-sm-12 col-md-4">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Cidade</label>
								<input ng-model="user.city">
							</md-input-container>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<md-input-container class="md-block" flex-gt-sm>
								<label>País</label>
								<input ng-model="user.country">
							</md-input-container>
						</div>
						<div class="col-sm-12 col-md-4">
							<md-select ng-model="user.state" placeholder="Estado">
								<md-option ng-repeat="state in states" value="{{ state.value }}">
									{{ state.name }}
								</md-option>
							</md-select>
						</div>
						<div class="col-sm-12 col-md-4">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Telefone</label>
								<input ng-model="user.phone">
							</md-input-container>
						</div>
					</div>
					<div class="row" ng-show="user.userType == 1">
						<div class="col-sm-12 col-md-3">
							<md-input-container class="md-block" flex-gt-sm>
								<label>CRM</label>
								<input ng-model="user.crm">
							</md-input-container>
						</div>
						<div class="col-sm-12 col-md-3">
							<md-input-container class="md-block" flex-gt-sm>
								<label>CRM-UF</label>
								<input ng-model="user.ufCrm">
							</md-input-container>
						</div>
						<div class="col-sm-12 col-md-6">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Especialidade</label>
								<input ng-model="user.doctorType">
							</md-input-container>
						</div>
					</div>

					<div class="row buttons">
						<!--<div class="col s9">
							<a href="" class="btn-link">
								DESCARTAR
							</a>
						</div>-->
						<div class="col s3 right">
							<md-button ng-click="signup(user)" class="md-raised md-primary">Salvar</md-button>
						</div>
					</div>

					<div class="alert error" ng-show="errostatus">
						{{erro}}
					</div>

					<div class="alert success" ng-show="sucess">
						Perfil salvo com sucesso.
					</div>
				</form>
			</md-card>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>