<div class="login">
	<md-card md-theme="default" md-theme-watch class="card col-md-6 col-sm-8 col-xs12 col-md-offset-3 col-sm-offset-2">
		<div>
			<form name="userForm">
				<div class="row">
					<div class="image col-md-8 col-md-offset-2">
						<img src="images/logo.png">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<md-input-container class="md-block">
							<label>Senha</label>
							<input type="password" ng-model="password.password">
						</md-input-container>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<md-input-container class="md-block">
							<label>Senha</label>
							<input type="password" ng-model="password.rePassword">
						</md-input-container>
					</div>
				</div>

				<div class="row buttons">
					<div class="col-md-3 signin">
						<md-button class="md-raised md-primary" ng-click="update(password)">Alterar senha</md-button>
					</div>
				</div>
					
				<div class="alert error" ng-show="errostatus">
					{{ erro }}
				</div>
			</form>
		</div>
	</md-card>
</div>