<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>

		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<div class="body">
					<div class="row">
						<md-button class="col-md-3 md-primary" aria-label="Adicionar problema" ng-click="openAdd()">
							Adicionar problema
						</md-button>
					</div>

					<div class="human-body full"></div>
					<div ng-repeat="p in parts track by $index" class="human-body {{ p }}"></div>
					<div class="clicks">
						<div class="head-head" ng-click="part('head-head')"></div>
						<div class="head-face" ng-click="part('head-face')"></div>
						<div class="trunk-abdomen" ng-click="part('trunk-abdomen')"></div>
						<div class="trunk-thorax" ng-click="part('trunk-thorax')"></div>
						<div class="trunk-loin" ng-click="part('trunk-loin')"></div>
						<div class="left-arm" ng-click="part('left-arm')"></div>
						<div class="right-arm" ng-click="part('right-arm')"></div>
						<div class="left-elbow" ng-click="part('left-elbow')"></div>
						<div class="right-elbow" ng-click="part('right-elbow')"></div>
						<div class="right-elbow" ng-click="part('right-elbow')"></div>
						<div class="left-forearm" ng-click="part('left-forearm')"></div>
						<div class="right-forearm" ng-click="part('right-forearm')"></div>
						<div class="left-hand" ng-click="part('left-hand')"></div>
						<div class="right-hand" ng-click="part('right-hand')"></div>
						<div class="left-foot" ng-click="part('left-foot')"></div>
						<div class="right-foot" ng-click="part('right-foot')"></div>
						<div class="left-knee" ng-click="part('left-knee')"></div>
						<div class="right-knee" ng-click="part('right-knee')"></div>
						<div class="left-leg" ng-click="part('left-leg')"></div>
						<div class="right-leg" ng-click="part('right-leg')"></div>
						<div class="left-thigh" ng-click="part('left-thigh')"></div>
						<div class="right-thigh" ng-click="part('right-thigh')"></div>
					</div>
				</div>
			</md-card>
		</div>
	</div>
</div>