<div class="login">
	<md-card md-theme="default" md-theme-watch class="card col-md-6 col-sm-8 col-xs12 col-md-offset-3 col-sm-offset-2">
		<div>
			<form name="userForm">
				<div class="row">
					<div class="image col-md-8 col-md-offset-2">
						<img src="images/logo.png">
					</div>
				</div>

				<md-input-container class="md-block">
					<label>E-mail</label>
					<input ng-model="user.email">
				</md-input-container>

				<div class="row">
					<div class="col-md-8">
						<md-input-container class="md-block">
							<label>Senha</label>
							<input type="password" ng-model="user.password">
						</md-input-container>
					</div>
					<div class="col-md-4">
						<md-button style="margin-top:15px" class="md-primary" ng-click="forget()">Esqueci minha senha</md-button>
					</div>
				</div>

				<div class="row buttons">
					<div class="col-md-9">
						<md-button class="md-primary" ng-click="goSignin()">Criar conta</md-button>
					</div>
					<div class="col-md-3 signin">
						<md-button class="md-raised md-primary" ng-click="login(user)">Entrar</md-button>
					</div>
					<div class="col-md-3 signin">
						<md-button class="md-raised md-primary" ng-click="facelogin()">Login Face</md-button>
					</div>
				</div>
					
				<div class="alert error" ng-show="errostatus">
					{{ erro }}
				</div>
			</form>
		</div>
	</md-card>
</div>