
  <nav>
    <div class="nav-wrapper">
      <a style="margin-left:10px;margin-top:10px" class="brand-logo"><img src="img/logo.png"></a>
      <a href="#" style="margin-left:10px" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li style="line-height:30px">
          <div class="row" style="margin:0;width:120px;">
            <div class="col s12" style="padding:0">
              <span class="titulo">LUIZA SANTOS</span>
            </div>
            <div class="col s4" style="padding:0">
              <a style="padding:5px;text-align:center"><span class="fa fa-comments"></span><span class="badge">4</span></a>
            </div>
            <div class="col s4" style="padding:0">
              <a style="padding:5px;text-align:center"><span class="fa fa-bell"></span><span class="badge">4</span></a>
            </div>
          </div>
        </li>
        <li style="line-height:95px;">
          <img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle fotouser">
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo" style="z-index:3000">
        <li><a href="signup"><span class="fa fa-users"></span> &nbsp;&nbsp;Sign up</a></li>
        <li><a href="login"><span class="fa fa-sign-in"></span> &nbsp;&nbsp;Log in</a></li>

      </ul>
    </div>
  </nav>