<nav class="container">
	<div class="nav-wrapper">
		<a class="brand-logo">
			<img src="images/logo1.png">
		</a>
		
		<a href="#" data-activates="mobile-demo" class="button-collapse">
			<i class="fa fa-bars"></i>
		</a>

		<div class="right hide-on-med-and-down">
			<div class="name-icons">
				<div class="name">LUIZA SANTOS</div>
				<div class="icons">
					<a>
						<span class="material-icons">comment</span>
						<span class="circle-badge">4</span>
					</a>
					<a>
						<span class="material-icons">notifications</span>
						<span class="circle-badge">4</span>
					</a>
				</div>
			</div>
			<div class="photo">
				<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
			</div>
		</div>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="signup"><span class="fa fa-users"></span>Sign up</a></li>
			<li><a href="login"><span class="fa fa-sign-in"></span>Log in</a></li>
		</ul>
	</div>
</nav>