<md-toolbar class="md-hue-2 container nav">
	<div>
		<a class="brand-logo">
			<img src="images/logo1.png">
		</a>

		<div class="right hide-on-med-and-down">
			<div class="name-icons">
				<div class="name">{{ user.name }}</div>
				<div class="icons">
					<a>
						<span class="material-icons">comment</span>
						<span class="circle-badge">4</span>
					</a>
					<a>
						<span class="material-icons">notifications</span>
						<span class="circle-badge">4</span>
					</a>
				</div>
			</div>
			<div class="photo">
				<img src="http://www.vitadiagnosticos.com.br/medicos.png" class="circle">
			</div>
		</div>
	</div>
</md-toolbar>