<div ng-include="'views/nav.html'"></div>

<div class="container">
	<div class="row">
		<div ng-include="'views/side.html'"></div>
		
		<div class="col-xs-12 col-sm-9 col-md-9">
			<md-card md-theme="default" md-theme-watch class="main-content">
				<div class="doctor">
					<div class="row">
						<form name="addForm">
							<div class="col-md-10">
								<md-input-container class="md-block">
									<label>Nova publicação</label>
									<textarea ng-model="post.text" ng-required="true" rows="5" md-select-on-focus></textarea>
								</md-input-container>
							</div>
							<div class="col-md-2">
								<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="addForm.$invalid">
									Postar
								</md-button>
							</div>
						</form>
					</div>
					<div class="row">
						<md-list flex class="col-md-12">
							<md-list-item class="md-3-line" ng-repeat="post in posts | orderBy: 'date':true">
								<img ng-src="data:image/png;base64,{{ post.profileImage }}" 
									 class="circle md-avatar" ng-click="openUser(post)">
								<div class="md-list-item-text col-md-12" layout="column">
									<div class="row">
										<div class="col-md-10">
											<br />
											<h3>Nome {{ post.nameUser }}</h3>
											<p>{{ post.text }}</p>
											<p>
												<i>
													{{ post.date | date }} - {{ post.agree }} concordam - {{ post.disagree }} discordam
												</i>
											</p>
											<h4>
												<span ng-show="post.comments > 0">
													<a href="" ng-click="loadComments(post)" class="md-primary">
														{{ post.comments }} comentários
													</a>
												 - 
												</span>
												<a href="" ng-click="post.response = !post.response" class="md-primary" 
												   ng-show="user.userType == 1">
													Responder
												</a>
												<a href="" class="md-primary" ng-click="remover(post)"
												   ng-show="user._id == post.idUser">
													Deletar
												</a>
											</h4>
										</div>
										<div class="col-md-2 thumbs">
											<div>
												<md-button ng-click="vote('agree', post)" class="md-primary">
													<i class="material-icons">thumb_up</i>
												</md-button>
											</div>
											<div>
												<md-button ng-click="vote('disagree', post)" class="md-primary">
													<i class="material-icons">thumb_down</i>
												</md-button>
											</div>
										</div>
									</div>
									<div class="row" ng-show="post.response">
										<form name="response">
											<div class="col-md-9">
												<md-input-container class="md-block">
													<label>Digite sua resposta</label>
													<textarea ng-model="post.comment" ng-required="true" rows="5" md-select-on-focus></textarea>
												</md-input-container>
											</div>
											<div class="col-md-3">
												<md-button class="md-primary" ng-click="comment(post)" ng-disabled="response.$invalid">
													Responder
												</md-button>
											</div>
										</form>
										<div class="row">
											<md-list flex class="col-md-12">
												<md-list-item class="md-2-line" ng-repeat="c in post.commentList">
													<img ng-src="{{todos[0].face}}?20" class="md-avatar" />
													<div class="md-list-item-text">
														<h3>{{ c.nameUser }}</h3>
														<p>{{ c.text }}</p>
													</div>
												</md-list-item>
											</md-list>
										</div>
									</div>
									<div class="divider"></div>
								</div>
							</md-list-item>
						</md-list>
					</div>
				</div>
			</md-card>
		</div>
	</div>
</div>