<div class="login">
	<md-card md-theme="default" md-theme-watch class="card col-md-6 col-sm-8 col-xs12 col-md-offset-3 col-sm-offset-2">
		<div>
			<form name="userForm">
				<div class="row">
					<div class="image col-md-8 col-md-offset-2">
						<img src="images/logo.png">
					</div>
				</div>
				<md-input-container class="md-block">
					<label>Nome</label>
					<input ng-model="user.name" ng-required="true">
				</md-input-container>
				<md-input-container class="md-block">
					<label>E-mail</label>
					<input ng-model="user.email" ng-required="true">
				</md-input-container>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<md-input-container class="md-block">
							<label>Senha</label>
							<input type="password" ng-model="user.password" ng-required="true">
						</md-input-container>
					</div>
					<div class="col-md-6 col-xs-12">
						<md-input-container class="md-block">
							<label>Confirmar Senha</label>
							<input type="password" ng-model="user.rePassword" ng-required="true">
						</md-input-container>
					</div>
				</div>

				<div>
					<md-radio-group ng-model="user.userType">
						<md-radio-button value="0" class="md-primary">Paciente</md-radio-button>
						<md-radio-button value="1">Médico</md-radio-button>
					</md-radio-group>
				</div>

				<div class="row buttons">
					<div class="col-md-9">
						<md-button class="md-primary" ng-click="goLogin()">Entrar</md-button>
					</div>
					<div class="col-md-3 signin">
						<md-button class="md-raised md-primary" ng-click="signup(user)" ng-disabled="userForm.$invalid">Criar conta</md-button>
					</div>
				</div>

				<div class="alert error" ng-show="errostatus">
					{{erro}}
				</div>
			</form>
		</div>
	</md-card>
</div>