<div class="col-md-3" ng-controller="SideController">
	<div class="menu" ng-show="type == 2">
		<ul class="collection">
			<li class="collection-item"><div class="titulo">Gerenciar</div></li>
			<li class="collection-item">
				<div class="item" ng-click="redirect('consultas/sec')">
					<span class="material-icons">contact_phone</span> Consultas
				</div>
			</li>
			<li class="collection-item">
				<div class="item" ng-click="logout()">
					<span class="material-icons">input</span> Sair
				</div>
			</li>
		</ul>
	</div>
	<div class="menu" ng-hide="type == 2">
		<ul class="collection">
			<li class="collection-item"><div class="titulo">PERFIL</div></li>
			<li class="collection-item">
				<div class="item" ng-click="redirect('publicacoes')">
					<span class="material-icons">history</span> Publicações
				</div>
			</li>
			<li class="collection-item">
				<div class="item" ng-click="redirect('usuario/editar')">
					<span class="material-icons">person</span> Editar Perfil
				</div>
			</li>
			<li class="collection-item" ng-show="type == 0">
				<div class="item" ng-click="redirect('corpo')">
					<span class="material-icons">accessibility</span> Corpo Humano
				</div>
			</li>
			<li class="collection-item" ng-show="type == 1">
				<div class="item" ng-click="redirect('consultas')">
					<span class="material-icons">contact_phone</span> Consultas
				</div>
			</li>
			<li class="collection-item" ng-show="type == 0">
				<div class="item" ng-click="redirect('marcacoes')">
					<span class="material-icons">contact_phone</span> Consultas
				</div>
			</li>
			<li class="collection-item" ng-show="type == 0">
				<div class="item" ng-click="redirect('prescricoes')">
					<span class="material-icons">note_add</span> Prescrições
				</div>
			</li>
			<li class="collection-item">
				<div class="item" ng-click="logout()">
					<span class="material-icons">input</span> Sair
				</div>
			</li>
		</ul>
		<ul class="collection" ng-show="type == 0">
			<li class="collection-item">
				<div class="titulo">MÉDICOS</div>
			</li>
			<li class="collection-item">
				<div class="item">
					<md-input-container md-no-float class="md-block" flex-gt-sm>
						<input ng-model="search" placeholder="Procurar médicos">
					</md-input-container>
				</div>
			</li>
			<li class="collection-item" ng-repeat="d in doctors | filter: search | limitTo: 3" ng-click="redirect('medicos/' + d._id)">
				<img ng-src="data:image/png;base64,{{ d.profileImage }}" class="circle">
				<span class="item">{{ d.name }}</span>
			</li>
			<li class="collection-item">
				<div class="item" ng-click="redirect('medicos')">
					<span class="material-icons">view_module</span>
					Ver todos
				</div>
			</li>
		</ul>
		<ul class="collection">
			<li class="collection-item">
				<div class="titulo">ARQUIVOS</div>
			</li>
			<li class="collection-item">
				<div class="item" ng-click="redirect('arquivos')">
					<span class="material-icons">folder</span>
					Prescrições e Exames
				</div>
			</li>
			<!--<li class="collection-item">
				<div class="item">
					<span class="material-icons">opacity</span>
					Medicações
				</div>
			</li>-->
			<li class="collection-item">
				<div class="item">
					<span class="material-icons">local_hospital</span>
					Hospitais e Farmácias
				</div>
			</li>
		</ul>
	</div>
</div>