<div class="signup">
	<nav>
		<div class="nav-wrapper">
			<a style="margin-left:10px;margin-top:10px" class="brand-logo"><img src="img/logo.png"></a>
			<a href="#" style="margin-left:10px" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="signup"><span class="fa fa-users"></span> &nbsp;&nbsp;Sign up</a></li>
				<li><a href="/"><span class="fa fa-sign-in"></span> &nbsp;&nbsp;Log in</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo" style="z-index:3000">
				<li><a href="signup"><span class="fa fa-users"></span> &nbsp;&nbsp;Sign up</a></li>
				<li><a href="/"><span class="fa fa-sign-in"></span> &nbsp;&nbsp;Log in</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="card z-depth-1" style="padding:5%">
			<div class="row" style="margin-bottom:0px">
				<form>
					<div class="col s12 l12 m12" style="text-align:center">
						<img class="logo" src="img/logo1.png">
					</div>
					<div class="erro" ng-show="errostatus">
						{{erro}}
					</div>
					<div class="input-field col s12" style="margin-top:10px">
						<input type="text" ng-model="user.name">
						<label>Name</label>
					</div>
					<div class="input-field col s12">
						<input type="text" ng-model="user.email">
						<label>Email</label>
					</div>
					<div class="input-field col s12 m6">
						<input type="password" ng-model="user.password">
						<label>Password</label>
					</div>
					<div class="input-field col s12 m6">
						<input type="password" ng-model="user.rePassword">
						<label>Confirm Password</label>
					</div>
					<div class="col s12"style="margin-top:20px">
						<button class="waves-effect waves-light btn" ng-click="signup(user)" style="width:100%;background:#CC3333">
							Log in
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>