body{
	margin:1%;
	background: #F7F8FA
}

.home .container{
	width:30%;
	position:fixed;
	left:35%;
	top:20%;
	z-index:5;
}

.container{
	width:100%;
	z-index:5;
	margin-top:20px;
}

.nav-wrapper img{
	height:40px;	
}

.erro{
	float:left;
	width:100%;
	background: #ffcdd2;
	margin: 10px 0;
	text-align: center;
	padding: 2% 2%;
	border: 1px solid #d32f2f;
	color:#d32f2f;
	border-radius:5px;
}

@media only screen and (max-width: 992px) {
  .home .container{
		width:70%;
		position:fixed;
		left:14%;
		top:20%;
		z-index:5;
	}
	.nav-wrapper img{
		height:25px;
		margin-top:5px;
	}

	.signup .logo{
		width:30%;
	}
}

nav{
	background:#336699;
	margin-bottom: 30px;
}

nav .titulo{
	font-size: 10pt;
	font-weight: 500;
	padding:0px;
	line-height: 25px;
}

nav .fotouser{
	width: 40px;
	margin-right: 10px;
}

nav .badge{
	background: #CC3333;
	border-radius: 100px;
	color:white;
	font-size: 8pt;
	padding: 4px 7px;
	margin:0px;
}

nav .fa{
	font-size: 15pt;
}

.menu{
	width:100%;
	float: left;
	padding: 0px;
}

.menu .col{
	padding: 0px;
}

.menu .collection{
	padding: 0px;
	border:none;
	overflow: visible;
	margin-bottom: 40px;
}

.menu .collection .collection-item{
	padding: 0px;
	margin:0px;
	background: transparent;
	border:none;
	margin-bottom:5px;
}

.menu .collection .collection-item:first-child{
	margin-bottom:15px
}

.menu .titulo{
	color: #CC3333;
	font-size: 12pt;
	font-weight: bold;
}

.menu .item{
	color: #999999;
	font-size: 11pt;
	margin-bottom: 5px;
	vertical-align: top;
	line-height: 25px;
}

.menu .item input{
	width: 80%;
	margin-bottom: 0px;
	border:none;
	padding: 0px;
	height: 2rem;
}

.menu .item input:focus{
	border-bottom:1px solid #999999;
	box-shadow: none;
}

.menu .item ::-webkit-input-placeholder {
  color: #999999;
}

.menu img{
	width: 20px;
	margin-right: 8px;
	margin-left: -5px;
}